.cut-img img{
   width:400px;
   height: auto;
}
.size{
    width:200px ;
    height:100px ;

}
@media only screen and (max-width: 600px){
    .cut-img img {
        width: 290px;
        height: 190px;
    }
}