.contact-us {
    margin: 50px 30px;

}

.contact {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
}

.phone-p {
    background-color: rgb(187, 210, 230);
}

.address {
    background-color: rgb(220, 240, 199);

}

.email {
    background-color: rgb(235, 180, 223);
}