.text {
    color: rgb(71, 176, 236);
    font-size: 50px;
}

.btn-button {
    margin: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: rgb(81, 200, 247);
    color: white;

}

.btn-button:hover {
    background-color: rgb(233, 141, 22);
}

.btn-contact:hover {
    background-color: rgb(233, 141, 22);
}

.btn-contact {
    margin: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #02143b;
    color: white;

}

@media only screen and (max-width: 600px) {
    .text {
        font-size: 20px;
    }

    .btn-button {
        margin: 5px;
        border: none;
        padding: 5px;
        border-radius: 10px;
        background-color: rgb(81, 200, 247);
        color: white;

    }

    .btn-contact {
        margin: 5px;
        border: none;
        padding: 5px;
        border-radius: 10px;
        background-color: #02143b;
        color: white;
    }
}